<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP Sentiment Analyzer</title>
  </head>

  <body>
    <main>
      <div class="container">
        <p>Enter a URL or a text of an article</p>
        <section>
          <form onsubmit="return Client.handleSubmit(event)">

            <div class="checkbox">
              <input type="radio" id="text" name="format" value="txt"
                     checked />
              <label for="url">Text</label>
            </div>

            <div class="checkbox">
              <input type="radio" id="url" name="format" value="url" />
              <label for="url">URL</label>
            </div>

            <textarea required rows="3" id="input-text"></textarea>
            <input type="submit" value="Submit" />
        </form>
        </section>

        <section>
          <strong>Form Results:</strong>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="score_tag"></div>
          <div id="statusCode"></div>
          <div id="statusmsg"></div>
        </section>
      </div>
    </main>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>
  </body>
</html>
